@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --backgroundMoving: url("../assets/noice.png");
  --backgroundRepeat: repeat;
  --backgroundSize: 120px;
  --backgroundAttachment: fixed;
  --backgroundColor: #f4f4f4;

  background-image: var(--backgroundMoving);
  background-repeat: var(--backgroundRepeat);
  background-size: var(--backgroundSize);
  background-attachment: var(--backgroundAttachment);
  background-color: var(--backgroundColor);
  animation: grain 8s steps(10) infinite;
}

.animated-background {
  background-image: url("../assets/noice.png");
  background-repeat: repeat;
  background-size: 120px;
  background-attachment: fixed;
  animation: grain 8s steps(10) infinite;
}

@font-face {
  font-family: Regular;
  src: url("../assets/fonts/Regular.woff2");
}
@font-face {
  font-family: FoBold;
  src: url("../assets/fonts/Bold.woff2");
}
@font-face {
  font-family: FoMedium;
  src: url("../assets/fonts/Medium.woff2");
}

@keyframes grain {
  0%,
  100% {
    background-position: 0, 0;
  }
  10% {
    background-position: -5%, -10%;
  }
  20% {
    background-position: -15%, 5%;
  }
  30% {
    background-position: 7%, -25%;
  }
  40% {
    background-position: -5%, 25%;
  }
  50% {
    background-position: -15%, 10%;
  }
  60% {
    background-position: 15%, 0%;
  }
  70% {
    background-position: 0%, 15%;
  }
  80% {
    background-position: 3%, 35%;
  }
  90% {
    background-position: -10%, 10%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
